---
layout: default
title: Blog
permalink: /blog/
---

<section class="blog-section">
  <div class="container">

    <div class="link-group">
      <h2 class="link-group-title"><a href="{{ '/learning/' | relative_url }}">Learning</a></h2>
      <ul class="link-list">
        {% if site.categories.learning %}
          {% assign learning_posts = site.categories.learning | sort: "date" | reverse %}
        {% else %}
          {% assign learning_posts = empty %}
        {% endif %}
        {% for post in learning_posts %}
          <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="link-group">
      <h2 class="link-group-title"><a href="{{ '/mentoring/' | relative_url }}">Mentoring</a></h2>
      <ul class="link-list">
        {% if site.categories.mentoring %}
          {% assign mentoring_posts = site.categories.mentoring | sort: "title" %}
        {% else %}
          {% assign mentoring_posts = empty %}
        {% endif %}
        {% for post in mentoring_posts %}
          <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="link-group">
      <h2 class="link-group-title"><a href="{{ '/misc/' | relative_url }}">Misc</a></h2>
      <ul class="link-list">
        {% if site.categories.misc %}
          {% assign misc_posts = site.categories.misc | sort: "date" | reverse %}
        {% else %}
          {% assign misc_posts = empty %}
        {% endif %}
        {% for post in misc_posts %}
          <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>

  </div>
</section>
